# Kicad
*.kicad_prl
fp-info-cache
fp-lib-table
*.round-tracks-config

# System Files
.DS_Store

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.app
*.hex